<div class="container">
    <div class="row">
      <ng-contaniner *ngIf="commentListLength>0">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Comment</th>
            <th scope="col">Commented For(Post)</th>
            <th scope="col">Commented By</th>
            <th scope="col">Commented On</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of commentList; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <p
                [popover]="descPopover"
                [innerHtml]="
                  item.text.length > 30
                    ? (item.text | slice: 0:30) + '...'
                    : item.text
                "
              >
                {{ item.text }}
              </p>
              <popover-content
                #descPopover
                title="Post text"
                placement="left"
                [animation]="true"
              >
                <p [innerHtml]="item.text">{{ item.text }}</p>
              </popover-content>
            </td>
            <td>{{ item.userName }}</td>
            <td>{{ item.updatedOn.split("T")[0] }}</td>
            <td>
              <a
                href="javascript:void(0)"
                [popover]="deletePopover"
                [popoverOnHover]="false"
                [popoverCloseOnClickOutside]="true"
                [popoverDisabled]="false"
                [popoverAnimation]="true"
                class=" text-danger"
              >
                <i class="bi bi-archive-fill"></i>
              </a>
              <popover-content
                #deletePopover
                title="Alert"
                placement="left"
                [closeOnClickOutside]="true"
                [animation]="true"
              >
                <span class="text-danger">Sure you want to delete this post?</span> <br>
                <button class="btn btn-sm btn-danger text-light m-2" (click)="deletecomment(item)" >Yes</button>
                <button class="btn btn-sm btn-dark text-light" #deleteHide (click)="deletePopover.hide()">No</button>
              </popover-content>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-contaniner>
    <ng-container *ngIf="commentListLength==0"><h3 class="text-center">No Post(s) available right now</h3></ng-container>
    </div>
  </div>
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="square-jelly-box"
    [fullScreen]="true"
  >
    <p style="color: white">{{spinnerMsg}}</p>
  </ngx-spinner>
  