<div class="container my-3">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 [innerHtml]="postData.description">{{postData.description}}</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="newCommentForm" (ngSubmit)="onSubmit()">
                        <fieldset>
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="3" class="form-control form-control-sm"></textarea>
                                <div *ngIf="!newCommentForm.controls['comment'].valid && (newCommentForm.controls['comment'].dirty ||newCommentForm.controls['comment'].touched)">
                                    <div [hidden]="!newCommentForm.controls['comment'].errors?.['required']">
                                        <small class="text-danger">Comment is required</small>
                                    </div>
                                    <div [hidden]="!newCommentForm.controls['comment'].errors?.['comment']">
                                        <small class="text-danger">Comment is Invalid</small>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="text-center">
                            <button type="submit" class="btn btn-md btn-primary my-3 text-center" [disabled]="!newCommentForm.valid">Comment</button>
                        </fieldset>
                    </form>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

    </div>

</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Fetching Post and Comments... </p>
</ngx-spinner>