<header class=" mb-3 border-bottom  bg-primary">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="javascript:void(0)" class="d-flex align-items-center mb-1 mb-lg-0 text-dark text-decoration-none">
        <h4 class="text-light">Query Forum</h4>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-center mx-5" >
        <li><a href="javascript:void(0)" class="nav-link px-2 link-light" routerLink="/dashboard">Home</a></li>
        <li><a href="javascript:void(0)" class="nav-link px-2 link-light" routerLink="/dashboard/post">New Post</a></li>
        <li><a href="javascript:void(0)" class="nav-link px-2 link-light" routerLink="/dashboard/my-post">My Posts</a></li>
      </ul>

      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form> -->
     
      <p class="d-block mx-1 mb-1 text-light">Welcome, {{loggedInUserName}} !</p>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="./assets/images/profile.png"  alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="javascript:void(0)" routerLink="/dashboard/profile">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex justify-content-between">
        <a href="javascript:void(0)" class="nav-link link-dark px-2 active" aria-current="page">
            <h4 class="text-primary">Query Forum</h4>
        </a>
        <div class="d-flex justify-content-end float-end">
            <ul class="nav me-auto d-flex justify-content-end align-items-center ">
                <li class="nav-item"><a href="javascript:void(0)" role="button" class="btn btn-warning mx-2" routerLink="/dashboard">Home</a></li>
                <li class="nav-item"><a href="javascript:void(0)" role="button" class="btn btn-warning mx-2" routerLink="/dashboard/post">New Post</a></li>
                <li class="nav-item"><a href="javascript:void(0)" role="button" class="btn btn-warning mx-2" routerLink="/dashboard/my-post">My Posts</a></li>
                <li class="nav-item"><a href="javascript:void(0)" role="button" class="btn btn-warning mx-2" routerLink="/dashboard/profile">Profile</a></li>
                <li class="nav-item"><a href="javascript:void(0)" role="button" class="btn btn-warning mx-2" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav> -->
