<div class="container">
    <div class="row">
        <div class="col-lg-9 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row" *ngFor="let item of postList">
                        <div class="col-lg-1 col-sm-12 col-md-12">
                            <ul class="nav me-auto d-flex justify-content-center">
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="nav-link link-dark px-2 active" aria-current="page">
                                        <h4><i class="bi bi-caret-up"></i></h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <small>0</small>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="nav-link link-dark px-2 active" aria-current="page">
                                        <h4><i class="bi bi-caret-down"></i></h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-11 col-sm-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <a href="javascript:void(0)" (click)="navigateToPost(item.id)" [innerHtml]="item.description" class="text-decoration-none">{{item.description}}</a>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <ul class="nav me-auto text-capitalize">
                                        <li>
                                            Post By: {{item.userName}} @ {{item.createdOn.split("T")[0] }}
                                        </li>
                                    </ul>
                                    <div class="d-flex">
                                        <ul class="nav me-auto text-capitalize">
                                            <li class="mx-2">
                                                <i class="bi bi-chat-text-fill"></i><a href="javascript:void(0)" class="fs-0 text-decoration-none"> Comment</a>
                                            </li>
                                            <li>
                                                <i class="bi bi-flag-fill"></i><a href="javascript:void(0)" class="fs-0 text-decoration-none text-danger"> Report</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-center">Search Criteria:</p>
                    <form action="">
                        <fieldset>
                            <div class="form-check d-flex justify-content-between ">
                                <input class="form-check-input" type="checkbox" value="" checked>
                                <label class="form-check-label mx-2">
                              All
                                </label>
                                <span class="badge rounded-pill bg-primary float-end ">1</span>


                            </div>

                            <div class="form-check d-flex justify-content-between">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label ">
                             My Post(s)
                            </label>
                                <label class="badge rounded-pill bg-primary float-end">1</label>
                            </div>
                            <div class="form-check d-flex justify-content-between">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label">
                             High Rated Post(s)
                            </label><span class="badge rounded-pill bg-primary float-end">1</span>
                            </div>
                            <div class="form-check d-flex justify-content-between">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label">
                             Recent Post(s)
                            </label><span class="badge rounded-pill bg-primary float-end">1</span>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Fetching Posts... </p>
</ngx-spinner>