
<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
        src="https://source.unsplash.com/random/925X617/?questions"/>
        <h2>Posts</h2>
        <p>Total no.of Post - {{widgetData.postCount}}</p>
        <p><a class="btn btn-secondary" href="" routerLink="/admin-dashboard/admin-posts">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
        src="https://source.unsplash.com/random/925X617/?answer"/>
        <h2>Comments</h2>
        <p>Total no.of Comments - {{widgetData.commentCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
        src="https://source.unsplash.com/random/925X617/?report"/>
        <h2>Reports</h2>
        <p>Total no.of Reports - {{widgetData.reportCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
        src="https://source.unsplash.com/random/925X617/?abuse"/>
        <h2>Report Types</h2>
        <p>Total no.of Report Types - {{widgetData.reportTypeCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
        src="https://source.unsplash.com/random/925X617/?people"/>
        <h2>Active Users</h2>
        <p>Total no.of Active Users - {{widgetData.activeUserCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
        src="https://source.unsplash.com/random/925X617/?user"/>
        <h2>Deactive Users</h2>
        <p>Total no.of Deactive Users - {{widgetData.inactiveUserCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
        src="https://source.unsplash.com/random/925X617/?thumbs up"/>
        <h2>Like Posts</h2>
        <p>Total no.of Liked Posts - {{widgetData.likeCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
        src="https://source.unsplash.com/random/925X617/?thumbs down"/>
        <h2>Dislike Posts</h2>
        <p>Total no.of Disliked Posts - {{widgetData.dislikeCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">


  </div>