
<div class="container marketing">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="100" height="100"
        src="./assets/images/admin_post_img.png" />
        <h4>Posts</h4>
        <p>Total no.of Post - {{widgetData.postCount}}</p>
        <p><a class="btn btn-secondary" href="" routerLink="/admin-dashboard/admin-posts">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="100" height="100"
        src="./assets/images/admin_comment_img.jpg"/>
        <h4>Comments</h4>
        <p>Total no.of Comments - {{widgetData.commentCount}}</p>
        <p><a class="btn btn-secondary" href="" routerLink="/admin-dashboard/admin-comments">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="100" height="100"
        src="./assets/images/admin_report_img.jpg"/>
        <h4>Reports</h4>
        <p>Total no.of Reports - {{widgetData.reportCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="100" height="100"
        src="./assets/images/admin_report_types_img.jpg"/>
        <h4>Report Types</h4>
        <p>Total no.of Report Types - {{widgetData.reportTypeCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="100" height="100"
        src="./assets/images/admin_active_user_img.png"/>
        <h4>Active Users</h4>
        <p>Total no.of Active Users - {{widgetData.activeUserCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="100" height="100"
        src="./assets/images/admin_deactive_user_img.png"/>
        <h4>Deactive Users</h4>
        <p>Total no.of Deactive Users - {{widgetData.inactiveUserCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="100" height="100"
        src="./assets/images/admin_like_img.png"/>
        <h4>Like Posts</h4>
        <p>Total no.of Liked Posts - {{widgetData.likeCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="100" height="100"
        src="./assets/images/admin_dislike_img.png"/>
        <h4>Dislike Posts</h4>
        <p>Total no.of Disliked Posts - {{widgetData.dislikeCount}}</p>
        <p><a class="btn btn-secondary" href="#">Explore »</a></p>
      </div>
    </div>


  </div>