<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row" *ngFor="let item of myPostList">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <a href="javascript:void(0)" (click)="navigateToPost(item.id)" [innerHtml]="item.description" class="text-decoration-none">{{item.description}}</a>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <ul class="nav me-auto text-capitalize">
                                        <li>
                                            Post By: You @ {{item.createdOn.split("T")[0] }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Fetching your Posts... </p>
</ngx-spinner>